# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Environment Variables
.env

# AWS SAM
.aws-sam/*
samconfig.toml

# Docker / LocalStack Data
volume/

# Lambda Build Artifacts
.build_lambda/
lambda_function.zip

# Logs
*.log
stdout.txt
stderr.txt

# Editor / IDE
.vscode/
.idea/
.DS_Store

# MCP
.cursor/

# Web dependencies & build
web/node_modules/
web/dist/
