# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Environment Variables
.env

# Docker / LocalStack Data
volume/

# Lambda Build Artifacts
.build_lambda/
lambda_function.zip

# Logs
*.log
stdout.txt
stderr.txt

# Editor / IDE
.vscode/
.idea/
.DS_Store

# MCP
.cursor/
